{% extends "base.html" %}

{% block content %}
<div class="container p-3">
    <h1>Lista de usuarios registrados</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre de usuario</th>
                <th>Correo electrónico</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}